@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Pontano+Sans');

$core_blue: #0B2838;
$core_blue_contrast: #103A52;
$accent_blue: #1CA8E1;
$deep_blue: #030005;

$core_gray: #ABABAA;
$deep_gray: #6B6B6B;

$core_green: #1A997F;
$core_green_contrast: #1EB394;

$lead_font: "Pontano Sans";
$core_font: "Open Sans";